$maincolor:salmon;
$mainbackground:#97c9eb;
$mainbackgroundDark:#4485b1;




body{
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
    padding:0;
    background-color: $mainbackground;

}

.container-background{
    width:70vmax;
    // background-image: linear-gradient(to right,$mainbackground, $maincolor);
    margin:100px auto;
    background-color:cyan;
    border-radius:40px;
    background-image: linear-gradient(to right bottom, #92446b, #955380, #966294, #9572a7, #9381b7, #9383b9, #9286bc, #9288be, #947eb4, #9574a9, #96699d, #965f90);
    padding:20px;
}

.container{
    border:20px solid transparent;

    // margin:100px auto;
    border-radius:30px;
    // box-shadow:1px 1px 5px 1px $maincolor, -1px -1px 5px 1px salmon;
    background-color: $mainbackground;
    
    padding:50px;
    box-sizing:border-box;
    position:relative;
    z-index:9;
    
    
}

section{
    border:1px solid rgba(122, 121, 121, 0.801);
    padding:20px 10px 20px 25px;
    margin-bottom:20px;
    border-radius:5px;
    
    
}

#title{
    text-align: center;
    display:block;
    margin-top:20px;
    margin-bottom:20px;
    
    // position:fixed;
}

.personaldata{
    
    #name,#email,#number{
        display:block;
        height:40px;
        padding:10px;
        box-sizing: border-box;
        // margin:auto;
        margin-bottom:15px;
        width:98%;
        outline: none;
        border:none;

        &::placeholder{
            font-family: 'Josefin Sans', sans-serif;
        }

        

    }

    

    p{
        display:inline;
        
    }
}

#gender,#dropdown{
    font-family: 'Josefin Sans', sans-serif;
    width: fit-content;
    // height: 30px;
    // text-align: center;
    // padding:5px;
    border:none;
}

.favourably{
    display:block;
}

#tickmarks{
    option{
        display:inline;
    }
}

.brand{
    width:fit-content;
    display:inline-block;
}

.label-inline{
    display:inline-block;
    width:max-content;
}

.select-group{
    display:flex;
    justify-content: space-between;
    // width:max-content;
    margin-bottom:10px;
    
}

.label-group{
    display:flex;
    justify-content: flex-end;
   
}

.label{
    margin-left: 9px;
    margin-right:1px;
}

.radio-group{
    display:flex;
    flex-wrap: nowrap;
}

button{
    margin:auto;
    display:flex;
    width:40%;
    border:none;
    border-radius:5px;
    height:50px;
    justify-content: center;
    align-items: center;
    background-color:#965F90;
    font-size:1.5rem;
    color:white;
    // border:1px solid white;

    &:hover{
        background-image: linear-gradient(to right bottom, #9095ca, #9286bc, #9577ac, #96679b, #965887, #965481, #954f7b, #944b75, #95507c, #955583, #965a89, #965f90);
        transition:1s ease-in-out;
        border:none;
        font-size: 2rem;
    }
}

.form-range{
    display:flex;
    justify-content: space-between;
}